<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container container-style fade-in">
    <div class="header fade-in-headers">
        <!-- style="display:inline; vertical-align: middle !important;  color: #fff;" -->
        <h4 class="headings fade-in-headers">
            Potential Stocks
        </h4>
    </div>
    <div>
        <div class="container button-suite">
            <button class="fadein-refresh">
                <i class="material-icons" style="color: whitesmoke;">add_circle</i>
            </button>
            <button class="fadein-refresh">
                <i class="material-icons" style="color: whitesmoke;">refresh</i>
            </button>
            <button class="fadein-refresh">
                <i class="material-icons" style="color: whitesmoke;">delete</i>
            </button>
        </div>
    </div>
</div>

<!-- <div class="class1" style=" text-align: center;">
    
    <div class="container">
        <button class="btn btn-sm fade-in-refresh" style="background-color: transparent; border: none">
            <i class="material-icons">add_circle</i>
        </button>
        <button class="btn btn-sm fade-in-refresh" style="background-color: transparent; border: none;"
            (click)="getHoldingsList(); buttonClicked = true">
            <i class="material-icons">refresh</i>
        </button>
        <button class="btn btn-light fade-in-refresh" style="background-color: transparent; border: none;"
            (click)="getHoldingsList(); buttonClicked = true">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div> -->