@import "src/assets/variables";

.class3 {
  width: 33.33%;
  height: 90%;
  position: absolute;
  display: inline-block;
  border: solid black .5px;
  border-top: none;
  border-bottom: none;
  border-radius: 7.5px;
}

p {
  padding-top: 25px;
  text-align: center;
  font-size: smaller;
  font-family: $font-regular;
  font-weight: $font-weight-regular;
}

.headings {
  font-family: $font-regular;
  font-weight: $font-weight-bold;
}

.card-color-green {
    background-color: #4CAF50;
}

.card-color-red {
    background-color: #f44336;
}

.fade-in-headers {
animation: fadeIn ease 4s;
-webkit-animation: fadeIn ease 4s;
-moz-animation: fadeIn ease 4s;
-o-animation: fadeIn ease 4s;
-ms-animation: fadeIn ease 4s;
}

.fade-in-refresh {
  animation: fadeIn ease 4s;
-webkit-animation: fadeIn ease 4s;
-moz-animation: fadeIn ease 4s;
-o-animation: fadeIn ease 4s;
-ms-animation: fadeIn ease 4s;
}

.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
