<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="class3" style=" margin-left: 66.6%; text-align: center;">
    <div style='margin-top:1%;'>
        <h4 style="display:inline; vertical-align: middle !important; color: #fff;" class="headings fade-in-headers">Cybersecurity
            Stocks
        </h4>
    </div>
    <div class="container">
        <button class="btn btn-sm fade-in-refresh" style="background-color: transparent; border: none">
            <i class="material-icons">add_circle</i>
        </button>
        <button class="btn btn-sm fade-in-refresh" style="background-color: transparent; border: none;"
            (click)="getHoldingsList(); buttonClicked = true">
            <i class="material-icons">refresh</i>
        </button>
        <button class="btn btn-light fade-in-refresh" style="background-color: transparent; border: none;"
            (click)="getHoldingsList(); buttonClicked = true">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>