<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="header-div">

    <div class="container container-style fade-in">
        <div class="header fade-in-headers">
            <!-- style="display:inline; vertical-align: middle !important;  color: #fff;" -->
            <h4 class="headings fade-in-headers">
                Cybersecurity Stocks
            </h4>
        </div>
        <div>
            <div class="container button-suite">
                <button class="fade-in-refresh">
                    <i class="material-icons" style="color: whitesmoke;">add_circle</i>
                </button>
                <button class="fade-in-refresh">
                    <i class="material-icons" style="color: whitesmoke;">refresh</i>
                </button>
                <button class="fade-in-refresh">
                    <i class="material-icons" style="color: whitesmoke;">delete</i>
                </button>
            </div>
        </div>
    </div>
</div>