<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="header-div">

    <div class="container container-style fade-in">
        <div class="header fade-in-headers">
            <!-- style="display:inline; vertical-align: middle !important;  color: #fff;" -->
            <h4 class="headings fade-in-headers">
                Current Holdings
            </h4>
        </div>
        <div>
            <div class="container button-suite">
                <button class="fade-in-refresh" data-toggle="modal" data-target="#addToHoldings" (click)="resetModal()">
                    <i class="material-icons">add_circle</i>
                </button>
                <button class="fade-in-refresh">
                    <i class="material-icons" (click)="getHoldings(); buttonClicked = true">refresh</i>
                </button>
                <button class="fade-in-refresh">
                    <i class="material-icons">delete</i>
                </button>
                <!-- <button (click)="toxicity()">
                    <i class="material-icons">backup</i>
                </button> -->
            </div>
        </div>


        <div *ngIf="buttonClicked">
            <div *ngFor="let i of ngForArr">
                <div class="card text-white fade-in" style="margin-bottom: 3%; height: 100%; width: 100%;"
                    [ngClass]="{'bg-success': results[i].positive === true }"
                    [ngClass]="{'bg-danger': results[i].positive === false }">
                    <div class="card-body justify-content-center align-items-center fade-in"
                        [ngClass]="{'bg-success': results[i].change > 0}">

                        <p style='float:left; width: 20%; border: solid 1px black; font-weight: bold; '>
                            {{results[i].name}}</p>
                        <p style='float:left; width: 20%; border: solid 1px black; text-align: center; '>
                            ${{results[i].lastPrice}}</p>
                        <p style='float:left; width: 20%; border: solid 1px black; text-align: center; '>
                            ${{results[i].change}}</p>
                        <p style='float:left; width: 20%; border: solid 1px black; text-align: center;  '>
                            {{results[i].percentChange}}
                        </p>
                        <!-- <button class="btn btn-sm" style="background-color: transparent; border: solid 1px black;"> -->
                        <i class="material-icons" style="border: solid 1px black;"
                            (click)="removeFromHoldings(results[i].name)">close</i>
                        <!-- </button> -->

                        <!-- <div class="container align-items-center" style="width: 100%;">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-2" style="float: left; width: 20%;">
                                    {{results[i].name}}
                                </div>
                                <div class="col-2" style="float: left; width: 20%;">
                                    ${{results[i].lastPrice}}
                                </div>
                                <div class="col-1" style="float: left; width: 20%;">
                                    ${{results[i].change}}
                                </div>
                                <div class="col-2" style="float: left; width: 20%;">
                                    {{results[i].percentChange}}
                                </div> -->
                        <!-- <div class="col-1" style="width: 20%; "> -->
                        <!-- <button class="btn btn-sm" style="background-color: transparent; border: none;"> -->
                        <!-- <i class="material-icons" style="float: inline-end;">delete</i> -->
                        <!-- </button> -->
                        <!-- </div> -->
                        <!-- </div>
                        </div> -->
                    </div>
                    <!--  -->

                </div>
            </div>
        </div>
    </div>
</div>



<!-- Add to Holdings Modal -->
<div class="modal fade" id="addToHoldings" tabindex="-1" aria-labelledby="addToHoldingsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-styling">
            <div class="modal-header">
                <h5 class="modal-title">Add to Holdings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="inputDefault">Enter a ticker: </label>
                        <input type="text" class="form-control" placeholder="Enter a ticker" id="tickerToAdd"
                            [(ngModel)]="ticker" [ngModelOptions]="{standalone: true}"
                            (input)="setTicker($event.target.value)">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetModal()">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="addToHoldings(ticker)">Add</button>
            </div>
        </div>
    </div>
</div>



<!-- <p
                            style='float:left; padding-top: 1%; margin-right:2%; width: 20%; text-align: left; font-weight: bold; height: 100%;'>
                            {{results[i].name}}</p>
                        <p
                            style='float:left; padding: 1%; margin-right:2%; width: 20%; text-align: center; vertical-align: middle; height: 100%;'>
                            ${{results[i].lastPrice}}</p>
                        <p
                            style='float:left;  padding-top: 1%; margin-right:2%; width: 20%; text-align: center; height: 100%;'>
                            ${{results[i].change}}</p>
                        <p
                            style='float:left; padding-top: 1%; margin-right:2%; width: 20%; text-align: center; height: 100%;'>
                            {{results[i].percentChange}}
                        </p>
                        <button class="btn btn-sm" style="background-color: transparent; border: none; height: 100%;">
                            <i class="material-icons">delete</i>
                        </button> -->


<!-- <div style='margin-top:1%;'>
        <h4 style="display:inline; vertical-align: middle !important; color: #fff;" class="headings fade-in-headers">Current Holdings
        </h4>
    </div>
    <div style='margin-top:1%; margin-bottom:1%;'>
        <div class="container">
            <button class="btn btn-sm fade-in-refresh" style="background-color: transparent; border: none">
                <i class="material-icons">add_circle</i>
            </button>
            <button class="btn btn-sm fade-in-refresh" style="background-color: transparent; border: none;"
                (click)="getHoldingsList(); buttonClicked = true">
                <i class="material-icons">refresh</i>
            </button>
            <button class="btn btn-light fade-in-refresh" style="background-color: transparent; border: none;"
                (click)="getHoldingsList(); buttonClicked = true">
                <i class="material-icons">delete</i>
            </button>
        </div> -->

<!-- </div> -->
<!-- <div> -->