@import "src/assets/variables";

// .class2 {
//   width: 33.33%;
//   height: 90%;
//   position: absolute;
//   display: inline-block;
//   border: solid black .5px;
//   border-top: none;
//   border-bottom: none;
//   border-radius: 7.5px;
// }

.container-style {
  height: 90%; 
  position: absolute; 
  width: 33.33%; 
  float: left; 
  // border: 1px solid whitesmoke; 
  // border-top: none;
  border-radius: 20px;
  text-align: center;
  overflow-y: scroll;
  scrollbar-color: #303030;
}

.header-div {
  margin-left: 33.33%;
  margin-top: 1%;
}

.header {
  text-align: center;
  color: $default-font-color;
  font: $font-regular;
  font-weight: $font-weight-bold;
  margin-top: 1%;
}

button {
  background-color: transparent;
  border: none;
}

.button-suite {
  margin-top: 1%;
  margin-bottom: 1%;
}

i {
  color: whitesmoke;
}

.modal-styling {
  background-color: #303030;
  color: whitesmoke;
}

.card-color-green {
    background-color: #4CAF50;
}

.card-color-red {
    background-color: #f44336;
}

.fade-in-headers {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

.fade-in-refresh {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

::-webkit-scrollbar {
width: 15px;
height: 15px;
}

::-webkit-scrollbar-track-piece  {
background-color: #232526;
background-color: #444;
background-color: whitesmoke;
}

::-webkit-scrollbar-thumb:vertical {
height: 10px;
background-color: #303030;
background-color: whitesmoke;
background-color: #444;
}