<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-indigo.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


<div class="header-div">
    <div class="container container-style fade-in">
        <div class="sticky-top" style="background-color: white;">
            <div class="header fade-in-headers sticky-top">
                <h3 class="headings fade-in-headers">
                    Current Holdings
                </h3>
            </div>
            <div>
                <div class="container button-suite" style="margin-bottom: 5%;">
                    <button
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored fade-in-refresh">
                        <i class="material-icons " (click)="openDialog(); resetModal()">add</i>
                    </button>

                    <button
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored fade-in-refresh">
                        <i class="material-icons" (click)="triggerRefresh()">refresh</i>
                    </button>

                    <button
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored fade-in-refresh">
                        <i class="material-icons" (click)="removeAllHoldings()">delete_sweep</i>
                    </button>
                </div>
            </div>
        </div>


        <style>
            .demo-card-wide.mdl-card {
                width: 512px;
            }

            .demo-card-wide>.mdl-card__title {
                color: #fff;
                height: 176px;
                background: url('../assets/demos/welcome_card.jpg') center / cover;
            }

            .demo-card-wide>.mdl-card__menu {
                color: #fff;
            }
        </style>


        <div *ngFor="let elem of results">
            <mat-card class="fade-in" style="margin-bottom: 5%; padding: 0;">
                <div style="display: flex; flex-direction: row; justify-content: center;"
                    [ngClass]="{'card-color-green': elem.positive === true, 'card-color-red': elem.positive === false }">
                    <mat-card-title
                        style="padding-top: 2%; padding-bottom: 2%; width: 100%; color: white; font-size: x-large;">
                        {{elem.name}}
                    </mat-card-title>
                </div>

                <mat-card-content style="margin-top: 2%; margin-right: 20px;">
                    <!-- <br> -->
                    <div style="display: flex; flex-direction: row; justify-content: space-around;">
                        <p style="font-size: large;">
                            ${{elem.lastPrice}}</p>
                        <p style="font-size: large;">
                            ${{elem.change}}</p>
                        <p style="font-size: large;">
                            {{elem.percentChange}}%
                        </p>

                        <i class="material-icons" (click)="removeFromHoldings(elem.name)"
                            style="justify-content: flex-end; float: right;">remove_circle_outline</i>

                    </div>

                </mat-card-content>

            </mat-card>