<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header fade-in-navbar" style="margin-bottom: 3%;">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row header">
            <!-- Title -->
            <span class="mdl-layout-title">Stock Market Watchlists</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" (click)="goToEarnings()">
                    <!-- Flat button with ripple -->
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: white;">
                        Upcoming Earnings
                    </button>
                </a>
                <!-- Expandable Textfield -->
                <form action="#" style="margin-top: 5px;">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="sample6">
                            <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                        </div>
                    </div>
                </form>

            </nav>
        </div>
    </header>

    <main class="mdl-layout__content" *ngIf="earnings == false">
        <div class="page-content">
            <!-- Your content goes here -->
            <app-potential-stocks></app-potential-stocks>

            <app-holdings></app-holdings>

            <app-random></app-random>
        </div>
    </main>

    <main class="mdl-layout__content" *ngIf="earnings == true">
        <div class="page-content">
            <app-earnings></app-earnings>
        </div>
    </main>

</div>