@import "src/assets/variables";

.class1,
.class2,
.class3 {
  width: 33.33%;
  height: 90%;
  position: absolute;
  display: inline-block;
  border: solid black .5px;
  border-top: none;
  border-bottom: none;
  border-radius: 7.5px;
}

p {
  padding-top: 25px;
  text-align: center;
  font-size: smaller;
  font-family: $font-regular;
  font-weight: $font-weight-regular;
}

.headings {
  font-family: $font-regular;
  font-weight: $font-weight-bold;
}

.card-color-green {
    background-color: #4CAF50;
}

.card-color-red {
    background-color: #f44336;
}


