@import "src/assets/variables";

p {
  padding-top: 25px;
  text-align: center;
  font-size: smaller;
  font-family: $font-regular;
  font-weight: $font-weight-regular;
}

.headings {
  font-family: $font-regular;
  font-weight: $font-weight-bold;
}

.card-color-green {
    background-color: #4CAF50;
}

.card-color-red {
    background-color: #f44336;
}


