<!-- BOOTSTRAP CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-styling">
  <a class="navbar-brand">Stock Market Watchlists</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
  </div>


  <input class="form-control mr-sm-2" type="search" placeholder="Search for a stock!" aria-label="Search"
    (input)="setTicker($event.target.value)" style="width: 250px;">
  <button name="search" class="btn btn-outline-success my-2 my-sm-0" type="button"
    (click)="fetchStock(ticker)">Search</button>